@CHARSET "ISO-8859-1";

html {
	background: #ffffff;
}

body {
	font: 12pt arial, sans-serif;
	background-color: #ffffff;
	width: 900px;
	margin: 100px auto auto auto;
	padding: 40px;
}

h1 {
	text-shadow: 1px 1px #ecd0b0;
	font: bold 24pt arial, sans-serif;
}

input {
	border: 2px #1e1e1e solid;
	height: 24px;
}

table.bordered {
	border: 2px #1e1e1e solid;
	width: 100%;
	padding: 0px;
	border-collapse: collapse;
        table-layout: fixed;
}

table.bordered td {
	border: 2px #1e1e1e solid;
}

table.bordered th {
	border: 2px #1e1e1e solid;
	background-color: #6898bd;
}