<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
 xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<ui:composition template="./masterTemplate.xhtml">
<ui:define name="title">Salary Pay and Bonus Pay Dates</ui:define>
<ui:define name="subheading">Date List</ui:define>
<ui:define name="content">
<table class="bordered">
    <tr><th>Month</th><th>Pay Date</th><th>Bonus Pay Date (for previous month)</th></tr>
    <ui:repeat value="#{theMainBean.getDateList()}" var="aDate">
        <tr><td>#{aDate.getMonth()}</td><td>#{aDate.getPayDay()}</td><td>#{aDate.getBonusDay()}</td></tr>
    </ui:repeat>
</table>
</ui:define>
</ui:composition>
</html>
