<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="css/index.css"/>
        <title><ui:insert name="title"></ui:insert> - Daniel Mckibbin</title>
    </h:head>

    <h:body>
        <h2><ui:insert name="subheading"></ui:insert></h2>
        <ui:insert name="content">Content</ui:insert>
        <br />
        <p /><ui:insert name="navbar"></ui:insert>
    </h:body>

</html>
